body{
    background-color: black;
}

div {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid red;
    padding: 30px 60px 80px 60px
}

h1 {
    font-family: Impact;
    font-size: 28px;
    color: red;
    margin-top: 50px;
    margin-bottom: 50px;
}
p {
    color: red;
    font-size: 18px;
    font-family: Verdana;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 15px 40px;
}

img {
    width: 350px;
}